crispy-bootstrap5==0.6
#Django==4.0.1
Django
djangorestframework==3.13.1
Pillow==9.1.0
gunicorn==20.1.0
whitenoise==6.0.0
django-extensions==3.1.5
django-crispy-forms
psycopg2-binary
dj-database-url
cloudinary
